section#features.flex.items-center(class='mx-auto px-[5vw] w-[80vw]  gap-[5vw] pb-[10rem] pt-[10rem] max-[1017px]:flex-col ')
  ul.optios.flex.flex-col.gap-4.text-nowrap(class='w-[20vw]  max-[1017px]:w-[90vw] max-[1017px]:flex-row max-[1017px]:gap-10 max-[1017px]:overflow-x-scroll ')
    - const features=[  {icon:'fa fa-cog',name:"Settings"},  {icon:'fa fa-exclamation-triangle',name:"Report"},  {icon:'fa fa-bell',name:"Saaty Notices"},  {icon:'fa fa-lock',name:"App Lock"}]
    include ../components/feature
    each feature,i in features
      +feature(feature,i)
  -const featuresInfo=[{image:'imgs/features-thumb-1.png',title:"Let the Conversation flow",paragraph:"Car boot absolutely "},{image:'imgs/features-thumb-1.png',title:"Let the Conversation flow",paragraph:"Car boot absolutely bladdered posh burke the wireless mush some dodg."},{image:'imgs/features-thumb-1.png',title:"Let the Conversation flow",paragraph:"Car boot absolutely "},{image:'imgs/features-thumb-1.png',title:"Let the Conversation flow",paragraph:"Car boot absolutely "}]
  include ../components/featureInfo
  each featureInfo,i in featuresInfo
    +featureInfo(featureInfo,i)