section#faq.faq.relative.bg-light3(class='py-[10rem] ')
  img.absolute.bottom-0.right-14(src="imgs/shapes/faq-shape.png" alt="FAQ section background shape")
  include ../components/sectionHeader
  +sectionHeader({title:"Frequently asked questions",paragraph:"Different layouts and styles for team sections."})
  div.mx-auto.flex.items-baseline.justify-center.mt-16(class=" w-[70vw] max-[1017px]:w-[90vw] gap-[5%] max-[1017px]:gap-0 max-[1017px]:flex-wrap ")
    - const accrodions=[ {question:"What is Mabit ?",answer:"Mabit is a habit management app designed to help you effortlessly track, manage, and build the habits that empower you."},    {question:"What are the benefits of using Mabit?",answer:"Mabit can help you achieve your goals, boost productivity, live healthier, reduce stress, build self-discipline, and break bad habits."},    {question:"Is Mabit free ?",answer:"Mabit offers a free basic plan with core features. We also have a premium plan with additional features like habit stacking and advanced analytics."},    {question:"How do I get started with Mabit ?",answer:"Simply download the Mabit app from the App Store or Google Play Store and create your free account."}]
    include ../components/accrodion
    div(class="w-[47%] max-[1017px]:w-[70%] max-[560px]:w-[90%]")
      +accrodion(accrodions[0])
      +accrodion(accrodions[1])
    div(class="w-[47%] max-[1017px]:w-[70%] max-[560px]:w-[90%]")
      +accrodion(accrodions[2])
      +accrodion(accrodions[3])

  p.mt-24.text-center.relative.z-index-50 Can't find an answer? 
    a.text-green-500.transition.cursor-pointer( href="" class="hover:text-green-600 duration-[.3s]") Email us
