section.hero-section.flex.gap-44.shrink-0.items-center.justify-around.py-48(class="px-[5vw] max-[1017px]:flex-col max-[1017px]:text-center  ")
  .text-side(class="w-[60%] max-[1017px]:w-[90%] ")
    p.text-sm.font-semibold.text-green-500 Welcome To Mabit
    h1.text-wrap.text-6xl.font-black(class='mb-[2.2rem] mt-[1rem] leading-[7rem]')
      | Manage it all, in this all new system.
    h3.text-wrap.text-lg.text-dark5
      | Hanky panky lavatory up the duff jolly good cack brolly is chinwag
      | zonked happy days sloshed.
    .buttons.flex.text-nowrap(class='mt-[4rem] max-[1017px]:justify-center gap-[1vw] max-[1070px]:gap-[2vw]')
      button.space-x-2.rounded-lg.border-transparent.bg-dark2.text-light1.transition(class=' border-[.2rem] px-[2.3rem] py-[1.2rem] duration-[.2s] hover:border-[.2rem] hover:border-dark2 hover:bg-white hover:text-dark2')
        a(href="")
          i.fa-brands.fa-apple.mr-2(class='hover:text-dark2')
          span.text-base Download for IOS
      button.space-x-2.text-green-600.border-green-600.rounded-lg.transition(class='px-[2.3rem] border-[.2rem] py-[1.2rem] duration-[.2s] hover:border-transparent hover:bg-green-600 hover:text-white  ')
        a(href="")
          i.fa-brands.fa-android.mr-2
          span Download for Android
  .relative.image-side.flex.items-center.gap-5(class='w-1/2  ')
    span.before.relative(class=":content-[''] before:absolute before:left-1/2 before:top-1/2 before:-z-10 before:h-[34vw] before:w-[34vw] max-[1017px]:before:h-[45vw] max-[1017px]:before:w-[45vw] max-[640px]:before:h-[70vw] max-[640px]:before:w-[70vw]   before:-translate-x-1/2 before:-translate-y-1/2 before:rounded-full before:bg-red")
      img.-z-40(src='imgs/hero-thumb-1.png' class='w-[32rem] min-w-[24rem] shrink-0' alt='mabit image')
    span.shadow-3xl.shadow-red-transparent1(class="max-[620px]:absolute max-[620px]:right-0 max-[620px]:top-1/2 max-[620px]:translate-x-1/2 max-[620px]:-translate-y-1/2")
      img(src='imgs/hero-thumb-2.png' class='w-[16rem] min-w-[10rem] ' alt='mabit second image')

