section.hero-section.gap-44.flex.shrink-0.items-center.justify-between.py-48(class="px-[6vw] max-[1017px]:flex-col max-[1017px]:text-center  ")
  .text-side(class="w-[60%] max-[1017px]:w-[90%] ")
    span.text-sm.font-semibold.text-green-500 Welcome To Mabit
    h1.text-wrap.text-6xl.font-black(class='mb-[2.2rem] mt-[1rem] leading-[7rem]')
      | Mabit: Building Lasting Habits, One Step at a Time
    h2.text-wrap.text-lg.text-dark5
      | Effortlessly track, manage, and build the habits that empower you.
    .buttons.flex.text-nowrap(class='mt-[4rem] max-[1017px]:justify-center gap-[1vw] max-[1070px]:gap-[2vw] max-[488px]:flex-col max-[488px]:gap-[4vw]  ')
      button.space-x-2.rounded-lg.border-transparent.bg-dark2.text-light1.transition(class=' border-[.2rem] px-[2.3rem] py-[1.2rem] duration-[.2s] hover:border-[.2rem] hover:border-dark2 hover:bg-white hover:text-dark2')
        a(href="")
          i.fa-brands.fa-apple.mr-2(class='hover:text-dark2')
          span.text-base Download for IOS
      button.space-x-2.text-green-600.border-green-600.rounded-lg.transition(class='px-[2.3rem] border-[.2rem] py-[1.2rem] duration-[.2s] hover:border-transparent hover:bg-green-600 hover:text-white  ')
        a(href="")
          i.fa-brands.fa-android.mr-2
          span Download for Android
  .relative.image-side.flex.justify-end.items-center.gap-5(class='w-1/2  max-[617px]:justify-start max-[1017px]:w-full  max-[1017px]:justify-center  max-[1017px]:ml-[8vw]  max-[640px]:ml-[3vw]')
    span.before.relative(class="  before:content-[''] before:absolute before:left-1/2 justify-self-start before:top-1/2 before:-z-10 before:h-[30vw] before:w-[30vw] max-[1017px]:before:h-[45vw] max-[1017px]:before:w-[45vw] max-[640px]:before:h-[70vw] max-[640px]:before:w-[70vw]   before:-translate-x-1/2 before:-translate-y-1/2 before:rounded-full before:bg-red")
      img.-z-40(src='imgs/hero-thumb-1.png' class='w-[28rem] min-w-[24rem] shrink-0' alt='mabit image')
    span.shadow-3xl.shadow-red-transparent1(class="max-[620px]:absolute max-[620px]:left-0 max-[620px]:top-1/2 max-[620px]:translate-x-1/2 max-[620px]:-translate-y-1/2")
      img(src='imgs/hero-thumb-2.png' class='w-[14rem] min-w-[10rem] ' alt='mabit second image')

