section#pricing.bg-light3(class='py-[10rem]')
  include ../components/sectionHeader
  +sectionHeader({title:"Choose your plan",paragraph:"Different layouts and styles for team sections."})
  ul.prices.flex.justify-center.items-start.mx-auto.flex-wrap(class='mt-[3.8rem] gap-[3vw] max-[1017px]:gap-[8vw] w-[80vw] ')
    -const plans=[{label:"Fresh",price:"04",paragraph:"Get your 14 day free trial",features:["60-day chat history","15 GB cloud storage"]},{label:"Sweet",price:"16",paragraph:"Billed $276 per website annually.",features:["60-day chat history","50 GB cloud storage"," 24/7 Support"]},{label:"Juicy",price:"27",paragraph:"Billed $276 per website annually.",features:["60-day chat history","Data security","100 GB cloud storag","24/7 Support"]},]
    include ../components/price
    each plan,i in plans
      +price(plan,i)


