section#testimonials.relative(class='my-[10rem] py-[8rem]')
  .testimonials.relative.flex.justify-center.items-center.gap-10.text-white(class='pt-[10rem] pb-[16rem]')
    img.absolute.-z-50(src='imgs/testimonial-bg.png' alt='testimonials section background' class=" w-full h-full top-1/2 -translate-y-1/2  ")
    button.testimonials-slide-left-arrow(aria-label="testimonials slide left button")
      i.fa.fa-arrow-left.text-white-80.transition(class="hover:text-white duration-[.3s] scale-[2]")
    - const testimonials=[{image:'imgs/testimonials/testimonial-user.png',username:"Sarah L., Teacher",date:"April 14, 2022",comment:"Mabit has helped me finally establish a consistent meditation routine. I feel calmer and more focused throughout the day.",starsNumber:5},{image:'imgs/testimonials/testimonial-user-2.jpg',username:"John M., Entrepreneur",date:"July 09, 2023",comment:"Since using Mabit, I've finally kicked my late-night phone scrolling habit! Now I can wind down with a relaxing read before bed, and I wake up feeling much more refreshed. Mabit has been a game-changer for my sleep routine",starsNumber:5},{image:'imgs/testimonials/testimonial-user-3.jpg',username:"Maria P.",date:"September 29, 2023",comment:"Working mom here! Mabit helps me fit small habits like yoga into my busy schedule, keeping me energized.",starsNumber:5}]
    div.relative
      div(class='w-[50vw] max-[640px]:w-[70vw]').overflow-clip
        ul.testimonials-list.flex.w-full
          include ../components/testimonial
          each testimonial in testimonials
            +testimonial(testimonial)
        .circles.flex.gap-3.absolute.bottom-0(class='left-1/2 -translate-x-1/2 translate-y-[200%]')
          each _ in testimonials
            .circle.w-4.h-4.rounded-full.bg-white-80
    button.testimonials-slide-right-arrow(aria-label="testimonials slide left button")
      i.fa.fa-arrow-right.text-white-80.transition(class="hover:text-white duration-[.3s] scale-[2]")
