mixin accrodion(data)
    details.faq-accrodion.relative.bg-white.transition.rounded-lg(class=" shrink-0 mb-[3%] duration-[3s]")
        summary.font-semibold.flex.items-center.justify-between.gap-4.cursor-pointer.text-nowrap.w-full(class="py-[1.8rem] px-[3.5rem] max-[401px]:px-[3vw] ")
            span 
                | #{data.question}
            div    
                span.accrodion-icon.flex.items-center.text-center.justify-center.rounded-full(class="w-[2.4rem] h-[2.4rem] ")
                    i(class="fa  fa-chevron-down text-green-500")
                span.accrodion-icon.flex.items-center.text-center.justify-center.hidden.rounded-full(class="w-[2.4rem] h-[2.4rem] ")
                    i(class="fa  fa-chevron-up  text-green-500")

        p(class="pb-[1.8rem] px-[3.5rem]")
            | #{data.answer}