ul.droplist.opacity-0.invisible.py-6.pr-12.pl-6.rounded-xl.shadow-3xl.shadow-green-500-transparent2.absolute.left-0.transition(class="top-[200%] duration-[.5s]  ")
  li
    | test
  li
    | test
  li
    | test