ul.opacity-0.invisible.z-50.droplist.py-6.pr-12.pl-6.rounded-xl.shadow-3xl.bg-white-cold.shadow-black-transparent2.absolute.left-0.transition(class="top-[100%] duration-[.5s] ")
  li
    | test
  li
    | test
  li
    | test