mixin footerField(data)
  div.text-nowrap.mr-10
    h3.text-xl.font-semibold(class="mb-[2.4rem]") #{data.title}
    ul.text-lg.font-light.text-dark3.flex.flex-col(class="gap-[1.6rem]")
      each item in data.subTitles
        li.text-base.transition.cursor-pointer(class="hover:text-green-500 duration-[.3s]")
          a.font-medium(href="#") #{item}
