mixin sectionHeader(data)
    .title.mx-auto.text-center(class='w-1/2 pb-[2.5rem] max-[581px]:w-[80%]')
        h2.text-4xl.font-black
            | #{data.title}
        h4.text-xl(class='mt-[1.1rem]')
            | #{data.paragraph}