mixin service(data)
  li.bg-white(class='px-[3rem] pb-[4.3rem] pt-[5rem] transition duration-[.3s] hover:shadow-green-500-transparent2 hover:shadow-2xl')
    .relative.mx-auto.rounded-2xl.shadow-xl.shadow-green-500-transparent1(class="h-[7rem] w-[7rem] after:absolute after:right-0 after:top-0 after:flex after:h-[2rem] after:w-[2rem] after:-translate-y-1/3 after:translate-x-1/3 after:items-center after:justify-center  after:rounded-full after:border-[.2rem] after:border-white  after:p-[1.2rem] after:text-white" class=data.class)
      img.absolute(src=`${data.image}` class='left-1/2 top-1/2 h-[2.8rem] w-[2.8rem] -translate-x-1/2 -translate-y-1/2' alt='service icon')
    p.text-xl.font-semibold(class='pb-[2rem] pt-[3.3rem]') #{data.title}
    span.text-base #{data.paragraph}