mixin testimonial(data)
    li.testimonial.flex.flex-col.items-center.w-full.shrink-0
        div
            img(src=data.image alt='testimonial photo')
        h4.text-xl.-mb-1 #{data.username}
        span.text-base.text-gray-300.mb-3 #{data.date}
        p.text-xl.text-center
            | #{data.comment}
        ul.stars.text-yellow-400.flex.gap-5.mt-5.mb-10
            - for(let i=0;i<data.starsNumber;i++)
                li
                    i.fa.fa-star.scale-110



