mixin traffic(data)
  li.flex.gap-6
    .shrink-0.relative.rounded-full.text-white.shadow-xl.shadow-green-500-transparent1(class='h-[2.4rem] w-[2.4rem]' class=data.class)
      i.fa.fa-check.absolute.text-center(class="h-[2rem] w-[2rem] left-1/2 top-1/2 -translate-x-1/2 -translate-y-[40%] ")
    .traffic-text.-mt-2
      h3.text-xl.font-semibold #{data.title}
      p.text-base.font-light
        | #{data.paragraph}