doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Mabit - landing page
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet")
    link(rel='stylesheet' type='text/css' media='screen' href='../node_modules/tailwindcss/tailwind.css')
    link(rel='stylesheet' type='text/css' media='screen' href='output.css')
    link(rel='icon' type='image/x-icon' href='imgs/favicon-512.png')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css')
    script(src='script.js' defer)

  body
    include sections/navbar
    include sections/hero
    include sections/services
    include sections/features
    include sections/traffic
    include sections/testimonials
    include sections/team
    include sections/pricing
    include sections/frequentlyAskedQuestions
    include sections/cta
    include sections/footer




